page-login {
.full-loginpage{
    background-image: url("../assets/imgs/3.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.position
{
    margin: auto;
    text-align: center;
}

.logoimg{
    width: 148px;
    height: 30px;
    margin-top: 150px;
    margin-bottom: 40px;
}
.textinputlabel{
    color: grey;
    font-size: 12px;
  
}
.item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
}
.item-ios {
    
    margin-left: 46px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}
.forgotpass{
    color: white;
    margin-left: 22px;
}
.manimage{
    max-width: 64%;
}
.input-placeholder{
    font-size: 12px;
    margin-left: 0px;
}
.newaccount{
    text-align: center;
    color: white;
}
.color-up{
    color: #78caf7;
}
.validation-style{
    color:white;
    text-align: center;
}
.space-btwn-box{
    margin-bottom:20px
}
}
