page-contact {

    .regcontent{
        background-image: url("../assets/imgs/3.png");
        background-size:cover;
        background-repeat: no-repeat;
    }
    .toolbar-background-md {
        background-color: #64a4e4 !important;
    }
    .set-title{
        margin: auto;
        text-align: center;
    }
    
}
