page-welcome {
    .full-welcomepage{
        background-image: url("../assets/imgs/3.png");
        background-size:cover;
        background-repeat: no-repeat;
    }
.position
{
    margin: auto;
    text-align: center;
}
.btn-submit{
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}
.logoimg{
    width: 60%;
    height: 60%;
    margin-top: 150px;
    margin-bottom: 90px;
}

}

